<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICreateEmployeeService" />
                <binding name="BasicHttpBinding_ICreateEmployeeService1" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IRetrieveEmployeeService" />
                <binding name="WSHttpBinding_IRetrieveEmployeeService1" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49776/EmployeeServiceImplementation.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICreateEmployeeService1"
                contract="EmployeeService.ICreateEmployeeService" name="BasicHttpBinding_ICreateEmployeeService" />
            <endpoint address="http://localhost:49776/EmployeeServiceImplementation.svc/ws"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IRetrieveEmployeeService1"
                contract="EmployeeService.IRetrieveEmployeeService" name="WSHttpBinding_IRetrieveEmployeeService">
                <identity>
                    <userPrincipalName value="rvibhandik@pune.tavisca.com" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>